$color-dark-1: #232526;
$color-dark-2: #414345;
$color-dark: #383536;
$color-white: #fbfbfb;
$color-orange: #fe904c;
$color-pink: #43d3e8;
$color-blue: #3bbbcd;

@font-face {
  font-family: "Anton Regular";
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "HammersmithOne";
  src: url("../fonts/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: "One Day";
  src: url("../fonts/ONEDAY.ttf");
}

body {
  font-family: "Anton Regular";
  background-color: #000000;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 8px);
  max-width: 1680px;
}

#header {
  position: fixed;
  width: calc(100% - 8px);
  // max-width: 1280px;
  max-width: 1680px;
  height: 65px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-top: 4px solid none;
  border-bottom: 4px solid none;
  background: transparent;
  z-index: 3;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  .module {
    margin: 15px 4px 4px 5px;
    padding: 0;
    width: 32%;
    display: block;
    float: left;

    h1 {
      font-size: 51.4px;
      line-height: 40px;
      margin: 2px 0 -6px -1px;
      a {
        color: $color-white;
      }
      a:hover {
        text-decoration: none;
        color: $color-blue;
      }
    }
  }
}

#header.smaller {
  height: 65px;
  background: $color-white;
  color: $color-dark;
  border-top: 4px solid $color-white;

  .module {
    margin-top: 10px;
  }

  h1 {
    font-size: 51.4px;
    line-height: 40px;
    margin: 2px 0 -6px -1px;
    a {
      color: $color-dark;
    }
  }
}

#container {
  #coverposter {
    padding: 65px 0 0 0;
    .module {
      padding: 65px;
      background-image: url("https://media.giphy.com/media/CIBrBZwSH5Ixa/giphy.gif");
      background-size: 100%;
      background-position: center;
      background-color: #fbfbfb54;
      font-family: "Audiowide";

      .imagecover {
        // margin: 65px;
        position: absolute;
        z-index: 0;
        opacity: 0;
        top: 65px;
        left: 0;
        font-size: 2.1rem;
        animation: fadeIn ease 5s forwards;
        -webkit-animation: fadeIn ease 5s forwards;
        -moz-animation: fadeIn ease 5s forwards;
        -o-animation: fadeIn ease 5s forwards;
        -ms-animation: fadeIn ease 5s forwards;
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        img {
          width: 100%;
        }
      }
      p {
        color: $color-white;
        font-family: "One Day";
        position: absolute;
        top: 6em;
        // right: 0;
        opacity: 0;
        left: 40rem;
        font-size: 2.1rem;
        animation: fadeIn ease 5s forwards;
        -webkit-animation: fadeIn ease 5s forwards;
        -moz-animation: fadeIn ease 5s forwards;
        -o-animation: fadeIn ease 5s forwards;
        -ms-animation: fadeIn ease 5s forwards;
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
      }
      .locate {
        p {
          position: relative;
          top: 0;
          left: 0;
          text-align: right;
          font-size: 1.5rem;
          line-height: 30px;
          white-space: nowrap;
          overflow: hidden;
          opacity: 0;
          -webkit-animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
          -webkit-animation-delay: 6s;
          animation-delay: 6s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
      h2 {
        display: inline-block;
        color: $color-white;
        line-height: 100px;
        letter-spacing: 0.15em; /* Adjust as needed */
        border-right: 0.02em solid $color-orange;
        font-size: 7em;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
        animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        // animation-iteration-count: infinite;
      }
      h1 {
        color: $color-orange;
        font-size: 10em;
        font-weight: bold;
        text-align: center;
        line-height: 160px;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        -webkit-animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
        animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        // animation-iteration-count: infinite;
      }
      h3 {
        color: $color-blue;
        font-size: 7em;
        text-align: right;
        line-height: 100px;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        -webkit-animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
        animation: type2 2s steps(30, end), blink-caret 0.5s step-end infinite;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        // animation-iteration-count: infinite;
      }
    }
  }
  #poster,
  #schedule,
  #speakers {
    .sec-title {
      display: block;
      overflow: hidden;
      position: relative;
      padding-bottom: 27px;
      text-align: center;
      .underlay {
        position: absolute;
        text-align: center;
        width: 100%;
        h2 {
          font-size: 50px;
          color: $color-white;
          text-align: center;
          font-size: 50px;
          line-height: 50px;
          text-transform: none;
          margin: 7px 0px;
          span {
            color: $color-orange;
          }
        }
      }

      h1 {
        color: #f8f8f841;
        font-size: 72px;
        line-height: 70px;
        text-transform: uppercase;
      }
    }
  }
  #poster {
    margin: 2rem 0; 
    .module {
      display: flex;
      justify-content: space-around;
      img {
        width: 25%;
      }
    }
  }
  #neonsigns {
    padding: 65px 0 0 0;
    .module {
      margin: 0 4px 4px 0;
      .image-background {
        width: 100%;
      }
      div {
        width: calc(100% - 8px);
        max-width: 1680px;
        z-index: 2;
        left: 0;
        right: 0;
        h1 {
          font-family: "Audiowide";
          color: $color-white;
        }
        h1.jobs {
          font-size: 8em;
          animation: showup 7s infinite;
        }
        h1.code {
          font-size: 10em;
          color: $color-orange;
          animation: reveal 7s infinite;
        }
        h1.fair {
          font-size: 6em;
          color: $color-blue;
        }
      }
    }
  }
  #schedule {
    background-image: url("https://media.giphy.com/media/CIBrBZwSH5Ixa/giphy.gif");
    background-size: 100%;
    background-position: center;
    background-color: #fbfbfb54;
    margin-top: 1em;
    padding: 1em 2em;
    div.accordion-box {
      display: block;
      font-family: "HammersmithOne";
      .accordion {
        margin-bottom: 30px;
        display: block;
        position: relative;
        .single-box {
          border: 1px solid #efefef;
          display: block;
          position: relative;
          background-color: #000000a6;
          .single-box-title {
            padding: 15px;
            position: relative;
            border: none;
            .img-holder {
              display: inline;
              img {
                max-width: 12em;
                height: auto;
              }
            }
            .title-holder {
              display: inline-block;
              padding-left: 1rem;
              p {
                margin: 0;
                font-size: 16px;
                color: $color-orange;
              }
              h3 {
                margin: 6px 0 0;
                font-size: 25px;
                color: $color-white;
              }
              ul,
              li {
                list-style: none;
                margin: 0;
                padding: 0;
              }
              li {
                color: $color-white;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                span {
                  color: $color-orange;
                }
              }
            }
          }

          .accord-btn {
            cursor: pointer;
            position: relative;
            transition: all 500ms ease;
            display: block;
          }
        }

        .single-box:before {
          position: absolute;
          top: 35px;
          width: 3px;
          height: 50px;
          content: "";
          background: $color-orange;
          left: 0px;
          z-index: 1;
        }
      }
    }
  }

  #speakers {
    margin-top: 1em;
    #home_intro {
      float: left;
      margin: 0 4px 4px 0;
      padding: 40px 0 0;
      width: calc(31.98241514416404% - 4px);
      color: $color-white;

      p {
        font-size: 24px;
        line-height: 30px;
      }

      h1 {
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    h1.title {
      text-align: center;
      color: $color-orange;
      font-size: 50px;
    }

    .module {
      display: inline-block;
      vertical-align: top;
      margin: 0 4px 4px 0;
      padding: 0;
      width: calc(24.717418643% - 4px);
      color: $color-white;
      img {
        width: 100%;
        box-shadow: inset 0 0 0 1px rgba($color-orange, 0.5);
      }

      h1 {
        margin: 6px 0 -6px -2px;
        color: $color-white;
        font-size: 51.4px;
        line-height: 50px;
      }

      h2 {
        color: $color-white;
        margin: 10px 0 0 -1px;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.06em;
        font-style: normal;
        text-transform: uppercase;
      }

      h3 {
        font-size: 17px;
        line-height: 20px;
        margin: 2px 0 0 0;
      }
    }
  }

  #sponsors_home {
    overflow: hidden;
    width: 100%;

    #presenting {
      padding: 1em;
      background: $color-white;

      h1 {
        font-size: 51.4px;
        color: $color-dark;
      }

      .sponsor {
        display: inline-block;
        width: 24%;
        vertical-align: middle;
        padding: 1em;
        align-items: center;
        justify-items: center;

        img {
          width: 70%;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  max-width: 1680px;
  margin: 4px 0 0;
  position: relative;
  overflow: hidden;

  .module {
    display: block;
    float: left;
    margin: 1rem;
    margin-top: 0;
    padding: 0;
    width: calc(33.438485804416404% - 4px);
    img {
      width: calc(50% - 4px);
    }
  }
}

#footer_content {
  position: relative;
  top: 0;
  right: 0;
  max-width: 1268px;
  margin: 40px auto;
  z-index: 2;

  .module {
    h2,
    h3 {
      color: $color-white;
    }
  }
}

/* registation */
#content {
  margin: 80px 16.719242902208202% 40px;
}

#content.form2019 {
  display: block;
  float: left;
  width: 66.561514195583596%;

  h1 {
    border-bottom: 4px solid $color-orange;
    margin: 0 0 18px 0;
    padding: 0 0 6px 0;
    color: $color-orange;
  }

  label {
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: $color-white;
    width: 28%;
    float: left;
    clear: left;
    padding: 3px 0 0 0;
    margin: 0 2% 0 0;

    .pink {
      color: $color-pink;
    }
  }

  input[type="text"],
  input[type="email"],
  select {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    float: left;
    width: 68.5%;
    padding: 6px 0 4px 1%;
    background-color: $color-white;
    margin: 0 0 20px;
    outline: none;
    border: none;
  }

  .snip1535 {
    background-color: $color-white;
    border: none;
    color: $color-dark;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    line-height: 1em;
    margin: 15px 40%;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    // font-weight: 700;
  }
  .snip1535:before,
  .snip1535:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  .snip1535:before {
    border-color: $color-white;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;
  }
  .snip1535:after {
    border-bottom-width: 2px;
    border-color: $color-white;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
  }
  .snip1535:hover,
  .snip1535.hover {
    background-color: $color-white;
  }
  .snip1535:hover:before,
  .snip1535.hover:before,
  .snip1535:hover:after,
  .snip1535.hover:after {
    height: 100%;
    width: 100%;
  }

  .regis-success {
    color: $color-white;

    h2,
    h4 {
      font-family: "Six Caps", sans-serif;
    }
  }
}

/* The typing effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border: none;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $color-orange;
  }
}

//

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid $color-orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border: none;
  }
  1%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@media only screen and (max-width: 760px) {
  #header {
    height: 60px;
  }
  #header {
    .module {
      margin: 5px 1px 5px 1px;
      h1 {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
      }
    }
  }
  #container {
    #poster {
      .module {
        display: inline;
        img {
          width: 100%;
        }
      }
    }
    #coverposter {
      padding: 65px 0 0 0;
      .module {
        padding: 20px 1px 0 1px;
        p {
          top: 8em;
          opacity: 0;
          left: 9rem;
          font-size: 1rem;
        }
        .locate {
          p {
            font-size: 1rem;
            line-height: 20px;
          }
        }
        h2 {
          line-height: 35px;
          font-size: 3em;
        }
        h1 {
          font-size: 4em;
          font-weight: inherit;
          line-height: 90px;
        }
        h3 {
          font-size: 3em;
          line-height: 35px;
        }
      }
    }
    #speakers {
      .sec-title {
        .underlay {
          h2 {
            font-size: 40px;
            line-height: 90px;
            margin: 7px 0px;
          }
        }

        h1 {
          font-size: 62px;
          line-height: 70px;
        }
      }
      div.module {
        width: calc(48.986698643% - 4px);

        h1 {
          font-size: 20px;
          line-height: 16px;
        }
      }
      h1.title {
        text-align: center;
        color: $color-orange;
        font-size: 25px;
      }
    }
    #schedule {
      margin-top: 1em;
      padding: 1em 0.3em;
      .sec-title {
        .underlay {
          h2 {
            font-size: 40px;
            line-height: 90px;
            margin: 7px 0px;
          }
        }
        h1 {
          font-size: 62px;
          line-height: 70px;
        }
      }

      div.accordion-box {
        .accordion {
          .single-box {
            .single-box-title {
              padding: 1px;
              padding-left: 0px;
              .img-holder {
                position: relative;
                top: 0;
                left: 0;
                img {
                  max-width: 8em;
                  height: auto;
                }
              }
              .title-holder {
                padding-left: 0;
                min-height: 60px;
              }
            }
          }
        }
      }
    }
    #sponsors_home {
      #presenting {
        h1 {
          font-size: 20px;
        }
        .sponsor {
          width: 49%;
          img {
            width: 80%;
          }
        }
      }
    }
  }

  
  #footer {
    h1 {
      font-size: 20px;
      line-height: 16px;
      margin: 1px 0 -5px -1px;
    }
    .module {
      display: block;
      float: left;
      margin: 0;
      margin-bottom: 4px;
      padding: 0;
      width: 100%;
      img {
        width: 50%;
      }
    }
  }

  #container {
    #neonsigns {
      padding: 61px 0 0 0;
      .module {
        margin: 0 4px 4px 0;
        div {
          h1.jobs {
            font-size: 3em;
          }
          h1.code {
            font-size: 4em;
          }
          h1.fair {
            font-size: 2em;
          }
        }
      }
    }

    #speakers {
      .module {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px 4px 0;
        padding: 0;
        width: calc(23.967996733949883% - 4px);
      }
    }
  }

  #sponsors_interior {
    h1 {
      font-size: 20px;
      line-height: 16px;
      margin: 10px 0 10px 10px;
    }

    #presenting {
      display: block;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 4px;
      margin-right: 0;
      width: 100%;
      padding: 0;
    }
  }

  #content.form2019 {
    width: 91.850220264317181%;
    margin: 60px 4.07488986784141% 20px;
    label {
      width: 100%;
      padding: 0 0 0 0;
      margin: 0 0 8px 0;
      font-size: 16px;
      line-height: 16px;
    }
    input[type="text"],
    input[type="email"] {
      font-size: 16px;
      width: 100%;
    }
    .snip1535 {
      margin: 15px auto;
    }

    a.link-group {
      display: none;
    }
  }

  #footer_content {
    margin: 4px auto;
  }
  #footer {
    h3 {
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.06em;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 916px) {
  #header {
    height: 100px;

    .module {
      h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 1px 0 -5px -1px;
      }
    }
  }

  #header.smaller {
    height: 100px;
  }

  #container {
    #coverposter {
      padding: 65px 0 0 0;
      .module {
        padding: 65px 1px 0 1px;
        p {
          top: 7.5em;
          opacity: 0;
          left: 25rem;
          font-size: 1.5rem;
        }
        .locate {
          p {
            font-size: 1.5rem;
            line-height: 30px;
          }
        }
        h2 {
          line-height: 50px;
          font-size: 4.5em;
        }
        h1 {
          font-size: 7em;
          font-weight: inherit;
          line-height: 120px;
        }
        h3 {
          font-size: 4.5em;
          line-height: 50px;
        }
      }
    }
    #neonsigns {
      padding: 100px 0 0 0;
    }

    #speakers {
      .module {
        width: calc(24.527996733949883% - 4px);
      }
    }
  }

  #footer_content {
    margin: 4px auto;
  }

  #footer {
    h2 {
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.06em;
    }
    h3 {
      font-size: 11.5px;
      line-height: 16px;
      letter-spacing: 0.06em;
    }

    .module {
      margin: 0;
      margin-bottom: 4px;
      width: 100%;
      img {
        width: 25%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1120px) {
  #header {
    max-width: 1088px;
    .module {
      h1 {
        font-size: 40px;
        line-height: 50px;
        margin: 1px 0 -5px -1px;
      }
    }
  }

  #container {
    #coverposter {
      padding: 65px 0 0 0;
      .module {
        padding: 65px 1px 0 1px;
        p {
          top: 7.5em;
          opacity: 0;
          left: 38rem;
          font-size: 1.7rem;
        }
        .locate {
          p {
            font-size: 1.5rem;
            line-height: 30px;
          }
        }
        h2 {
          line-height: 90px;
          font-size: 6em;
        }
        h1 {
          font-size: 9em;
          font-weight: inherit;
          line-height: 130px;
        }
        h3 {
          font-size: 6em;
          line-height: 90px;
        }
      }
    }
    #speakers {
      .module {
        width: calc(24.27996733949883% - 4px);
      }
    }
  }

  #footer {
    .module {
      margin: 0;
      margin-bottom: 4px;
      width: 100%;
      img {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 1268px) {
  #footer {
    width: calc(100% - 8px);
    margin: 4px auto 0;
  }
}

@media only screen and (min-width: 1270px) and (max-width: 1370px) {
  #container,
  #header {
    max-width: 1200px;
  }

  #container {
    #speakers {
      .module {
        width: calc(24.527996733949883% - 4px);
      }
    }
  }

  #footer {
    width: calc(100% - 8px);
  }
}

@media only screen and (min-width: 1500px) {
  #container {
    #speakers {
      h1.title {
        text-align: center;
        color: $color-orange;
        font-size: 70px;
      }
    }
  }

  #content.form2019 {
    h1 {
      font-size: 50px;
    }

    label {
      font-size: 25px;
    }
  }
}
