$color-dark-1: #29323c;
$color-dark-2: #485563;
$color-dark: #383536;
$color-white: #fbfbfb;
$color-orange: #ff914d;
$color-pink: #43d3e8;
$color-blue: #3bbbcd;

@font-face {
  font-family: "Anton Regular";
  src: url("../fonts/Anton-Regular.ttf");
}

body {
  font-family: "Anton Regular";
  background-color: $color-dark;
  background: linear-gradient(to bottom right, $color-dark-1, $color-dark-2)
}

#container {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 8px);
  max-width: 1268px;
}

#header {
  position: fixed;
  width: calc(100% - 8px);
  max-width: 1268px;
  height: 65px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border-top: 4px solid $color-dark;
  border-bottom: 4px solid $color-dark;
  // background: $color-dark;
  background: transparent;
  z-index: 3;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  .module {
    margin: 5px 4px 4px 5px;
    padding: 0;
    width: 32%;
    display: block;
    float: left;

    h1 {
      font-size: 51.4px;
      line-height: 40px;
      margin: 2px 0 -6px -1px;
      a {
        color: $color-white;
      }
      a:hover {
        text-decoration: none;
        color: $color-blue;
      }
    }
  }
}

#header.smaller {
  height: 65px;
  background: $color-white;
  color: $color-dark;
  border-top: 4px solid $color-white;

  h1 {
    font-size: 51.4px;
    line-height: 40px;
    margin: 2px 0 -6px -1px;
    a {
      color: $color-dark;
    }
  }
}

#container {
  #neonsigns {
    padding: 65px 0 0 0;
    .module {
      margin: 0 4px 4px 0;
      .image-background {
        width: 100%;
      }
    }
  }

  #speakers {
    #home_intro {
      float: left;
      margin: 0 4px 4px 0;
      padding: 40px 0 0;
      width: calc(31.98241514416404% - 4px);
      color: $color-white;

      p {
        font-size: 24px;
        line-height: 30px;
      }

      h1 {
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    .module {
      display: inline-block;
      vertical-align: top;
      margin: 0 4px 4px 0;
      padding: 0;
      // width: calc(24.717418643% - 4px);
      width: calc(16.719242902208202% - 4px);

      .image-background {
        width: 100%;
      }

      h1 {
        width: 90%;
        margin: 6px 0 -6px -2px;
        color: $color-white;
        font-size: 51.4px;
        line-height: 50px;
      }

      h2 {
        color: $color-white;
        width: 90%;
        margin: 10px 0 0 -1px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.06em;
        // font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }

  #sponsors_home {
    overflow: hidden;
    width: 100%;

    #presenting,
    #event,
    #supporting {
      display: block;
      float: left;
      padding-bottom: 50em;
      margin-bottom: -50em;
      margin-top: 40px;
      background: $color-white;

      h1 {
        font-size: 51.4px;
        line-height: 40px;
        color: $color-dark;
        margin: 20px 40px 40px 20px;
      }
    }
  }
}

#footer {
  width: 100%;
  margin: 4px 0 0;
  position: relative;
  overflow: hidden;

  .module {
    display: block;
    float: left;
    margin: 0 4px 0 0;
    padding: 0;
    // width: calc(33.438485804416404% - 4px);
  }
}

#footer_content {
  position: relative;
  top: 0;
  right: 0;
  max-width: 1268px;
  margin: 40px auto;
  z-index: 2;

  .module {
    h2,
    h3 {
      color: $color-white;
    }
  }
}

/* registation */
#content {
  margin: 80px 16.719242902208202% 40px;
}

#content.form2019 {
  display: block;
  float: left;
  width: 66.561514195583596%;

  h1 {
    border-bottom: 4px solid $color-orange;
    margin: 0 0 18px 0;
    padding: 0 0 6px 0;
    color: $color-orange;
  }

  label {
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: $color-white;
    width: 28%;
    float: left;
    clear: left;
    padding: 3px 0 0 0;
    margin: 0 2% 0 0;

    .pink {
      color: $color-pink;
    }
  }

  input[type="text"],
  input[type="email"],
  select {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    float: left;
    width: 68.5%;
    padding: 6px 0 4px 1%;
    background-color: $color-white;
    margin: 0 0 20px;
    outline: none;
    border: none;
  }
}

@media only screen and (max-width: 760px) {
  #header {
    height: 60px;
  }
  #header {
    .module {
      margin: 5px 1px 5px 1px;
      h1 {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
      }
    }
  }
  #container {
    #speakers {
      .module {
        h1 {
          font-size: 20px;
          line-height: 16px;
        }
      }
    }
    #sponsors_home {
      #presenting {
        h1 {
          font-size: 20px;
          line-height: 16px;
          margin: 1px 0 -5px -1px;
        }
      }
    }
  }
  #footer {
    h1 {
      font-size: 20px;
      line-height: 16px;
      margin: 1px 0 -5px -1px;
    }
  }

  #container {
    #neonsigns {
      padding: 61px 0 0 0;
      .module {
        margin: 0 4px 4px 0;
      }
    }

    #speakers {
      .module {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px 4px 0;
        padding: 0;
        width: calc(23.967996733949883% - 4px);
      }
    }

    #sponsors_home {
      #presenting,
      #event,
      #supporting {
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 4px;
        margin-right: 0;
        width: 100%;
        padding: 0;
        h1 {
          font-size: 20px;
          line-height: 16px;
          margin: 10px 0 10px 10px;
        }
      }
    }
  }

  #sponsors_interior {
    h1 {
      font-size: 20px;
      line-height: 16px;
      margin: 10px 0 10px 10px;
    }

    #presenting,
    #event,
    #supporting {
      display: block;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 4px;
      margin-right: 0;
      width: 100%;
      padding: 0;
    }
  }
  #content.form2019 {
    width: 91.850220264317181%;
    margin: 60px 4.07488986784141% 20px;
    label {
      width: 100%;
      padding: 0 0 0 0;
      margin: 0 0 8px 0;
      font-size: 16px;
      line-height: 16px;
    }
    input[type="text"],
    input[type="email"] {
      font-size: 16px;
      width: 100%;
    }
  }

  #footer_content {
    margin: 4px auto;
  }
  #footer {
    h2 {
      font-size: 11.5px;
      line-height: 16px;
      letter-spacing: 0.06em;
    }
  }
}

// @media only screen and (max-width: 916px) {
//   #header {
//     height: 100px;

//     .module {
//       h1 {
//         font-size: 40px;
//         line-height: 40px;
//         margin: 1px 0 -5px -1px;
//       }
//     }
//   }

//   #header.smaller {
//     height: 100px;
//   }

//   #container {
//     #neonsigns {
//       padding: 100px 0 0 0;
//     }

//     #speakers {
//       .module {
//         width: calc(24.527996733949883% - 4px);
//       }
//     }
//   }

//   #footer_content {
//     margin: 4px auto;
//   }
//   #footer {
//     h2 {
//       font-size: 20px;
//       line-height: 16px;
//       letter-spacing: 0.06em;
//     }
//   }
//   #footer {
//     h3 {
//       font-size: 11.5px;
//       line-height: 16px;
//       letter-spacing: 0.06em;
//     }
//   }
// }

// @media only screen and (max-width: 1120px) {
//   #header {
//     max-width: 1088px;
//     .module {
//       h1 {
//         font-size: 40px;
//         line-height: 50px;
//         margin: 1px 0 -5px -1px;
//       }
//     }
//   }

//   #container {
//     #speakers {
//       .module {
//         width: calc(24.27996733949883% - 4px);
//       }
//     }
//   }
// }

@media only screen and (max-width: 1268px) {
  #footer {
    width: calc(100% - 8px);
    margin: 4px auto 0;
  }
}
